body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.lis_container{
    display: flex;
    flex-flow: row wrap;
}
.listing{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: fit-content;
    margin: 10px;
    border: 2px lightgray solid;
}

.listing_page{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: fit-content;
    margin: 10px;
    text-align: justify;
}

.listing_page_info{
    display: flex;
    width: 40%;
    height: 100%;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-evenly;
}

.small_image{
    margin: 5px;
    margin-left: 5%;
    width: 20%;
    height: 100%;
}

.big_image{
    width: 30%;
    height: 100%;
}

.big_image img{
    width: 80%;
    height: 95%;
    object-fit: cover;
}

.small_image img{
    width: 80%;
    height: 95%;
    object-fit: cover;
}

.listing_info{
    display: flex;
    width: 40%;
    width: fit-content;
    height: 100%;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-evenly;
}

.listing:hover{
    background-color: lightgray;
}

.small_font{
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.listing_link{
    width: 74.5%;
    color: black;
}

.listing_link:hover{
    text-decoration: none;
    color: black;
}

.center{
    display:flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.home_link{
    color: white;
    border: 6px solid #6495ed;
    background-color: #6495ed;
}

.home_link:hover{
    color: white;
}